.card-image {
  width: 400px;
  height: 500px;
}

.cardlist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character, .title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.character {
}

.btn {
  background-color:saddlebrown; 
  border: none;
  color: white;
  width: 80%;
  padding: 10px 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;

}

.btn:hover {
  color: wheat;
  font-size: 30px;
  width: 60%;
}